name: Build Chrome NodeJS
on:
  workflow_dispatch:
  schedule:
    - cron: "0 1 1 * *"
  push:
    branches:
      - main
    paths:
      - chrome-nodejs/**

jobs:
  push:
    name: "docker-images:chrome-nodejs_${{ matrix.tag }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        tag:
          - 24

    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
        with:
          buildkitd-flags: --debug
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.PAT_CONTAINER_TOKEN }}
      - uses: docker/build-push-action@v5
        with:
          context: ./chrome-nodejs
          file: ./chrome-nodejs/${{ matrix.tag }}/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/mrwake-dev/docker-images:chrome-nodejs_${{ matrix.tag }}
