name: Build Java
on:
  workflow_dispatch:
  schedule:
    - cron: "0 1 1 * *"
  push:
    branches:
      - main
    paths:
      - java/**

jobs:
  push:
    name: "docker-images:java_${{ matrix.tag }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        tag:
          - 17
          - 21
          - 25

    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
        with:
          buildkitd-flags: --debug
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.PAT_CONTAINER_TOKEN }}
      - uses: docker/build-push-action@v5
        with:
          context: ./java
          file: ./java/${{ matrix.tag }}/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/mrwake-dev/docker-images:java_${{ matrix.tag }}
